.container {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.inputContainer {
    display: flex;

}
.inputs {
    background-color: #e9e9ed;
    width: 300px;
    margin: 0px 0px 5px 5px;
}
.timeLabel {
    margin-right: 17px;
}
output {
    font-size: 18px;
    display:block;
    margin: 5px 0px 5px 0px;
}
label {
    margin-right: 5px;
}

button {
    height: 25px;
}
